{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    天天生鲜-首页
{% endblock %}
{% block top_js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全部商品分类</h1>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <div class="center_con clearfix">
        <ul class="subnav fl">
            {% for category in categories %}
                <li><a href="#model0{{ forloop.counter }}" class="{{ category.logo }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="slide fl">
            <ul class="slide_pics">
                {# 显示轮播图 #}
                {% for slide_sku in slide_skus %}
                    <li><a href="{% url 'goods:detail' slide_sku.sku.id %}"><img src="{{ slide_sku.image.url }}" alt="幻灯片"></a></li>
                {% endfor %}
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            {# 显示促销活动 #}
            {% for promotion in promotions %}
                <a href="#"><img src="{{ promotion.image.url }}"></a>
            {% endfor %}
        </div>
    </div>

    {% for c in categories %}
        <div class="list_model">
            <div class="list_title clearfix">
                <h3 class="fl" id="model0{{ forloop.counter }}">{{ c.name }}</h3>
                <div class="subtitle fl">
                    <span>|</span>
                    {# 显示类别文字商品 #}
                    {% for c_sku in c.text_skus %}
                        <a href="{% url 'goods:detail' c_sku.sku.id %}">{{ c_sku.sku.name }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'goods:list' c.id 1 %}?sort=default" class="goods_more fr" id="fruit_more">查看更多 ></a>
            </div>

            <div class="goods_con clearfix">
                <div class="goods_banner fl"><img src="{{ c.image.url }}"></div>
                <ul class="goods_list fl">
                    {% for img_sku in c.image_skus %}
                        <li>
                            <h4><a href="{% url 'goods:detail' img_sku.sku.id %}">{{ img_sku.sku.name }}</a></h4>
                            <a href="{% url 'goods:detail' img_sku.sku.id %}"><img src="{{ img_sku.sku.default_image.url }}"></a>
                            <div class="prize">¥ {{ img_sku.sku.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block bottom_js %}

{% endblock %}
