{% extends 'base_user_center.html' %}

{% block right_body %}
    		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in page %}
                <ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
					<li class="col02 stress">{{ order.status_desc }}</li>
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {# 显示订单中的商品 #}
                                {% for order_sku in order.order_skus %}
								<ul class="order_goods_list clearfix">
									<li class="col01"><a href="{% url 'goods:detail' order_sku.sku.id %}"><img src="{{ order_sku.sku.default_image.url }}"></a></li>
                                    <li class="col02"><a href="{% url 'goods:detail' order_sku.sku.id %}">{{ order_sku.sku.name }}</a><em>{{ order_sku.sku.price }}元/{{ order_sku.sku.unit }}</em></li>
									<li class="col03">{{ order_sku.count }}</li>
									<li class="col04">{{ order_sku.amount }}元</li>
								</ul>
							    {% endfor %}
                            </td>
							<td width="15%">{{ order.total_pay }}元</td>
							<td width="15%">{{ order.status_desc }}</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
                {% endfor %}
				<div class="pagenation">
                    {% if page.has_previous %}
					    <a href="{% url 'users:orders' page.previous_page_number %}">&lt上一页</a>
                    {% endif %}
                    {% for index in page_range %}
					    <a href="{% url 'users:orders' index %}" {% if index == page.number %}class="active"{% endif %}>{{ index }}</a>
                    {% endfor %}
                    {% if page.has_next %}
					    <a href="{% url 'users:orders' page.next_page_number %}">下一页></a>
                    {% endif %}
				</div>
		</div>
{% endblock %}
